.add_subject_modal {
  padding: 15px 20px;
  width: 200px;
  height: 150px;
  position: fixed;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 99;
  border-radius: 10px;
}

.modal_exit_button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 5px;
}

.modal_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.subject_inputs {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}

.subject_color {
  text-align: left;
}
