* {
  margin: 0;
  padding: 0;
}
.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .timer_wrapper {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.tab {
  width: 100vw;
  display: table;
  text-align: center;
  border-collapse: collapse;
}

.tab_items {
  display: table-cell;
  width: 25vw;
  border: 1px solid black;
}

.timer_tab_wrapper {
  border: 1px solid red;
  width: 100vw;
}
