* {
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: inherit;
}
input {
  outline: none;
  border: none;
}
textarea {
  outline: none;
  border: none;
}
